.sidebar{
  flex: 1 1 0;
}
.search-bar,
.categories {
  padding: 1.5rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}
.search-bar h4,
.categories h4{
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.search-bar form{
  display: flex;
}
.search-bar input{
  padding: .5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.search-bar input[type='submit']{
  cursor: pointer;
  background-color: #37a1f7;
  color: white;
  border: none;
}

.categories li{
  margin-bottom: 1rem;
}